
/*** Globle/Base Style =>  For Disable all Defualt-Browser-Properties  **/

*,
html {
    appearance: none;
    -webkit-appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

*:after,
*:before {
    box-sizing: border-box; 
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    outline: none;
}

select,
textarea,
input {
    outline: none;
    border: none; 
}

textarea {
    overflow: auto;
    resize: none;
    appearance: none;
    -webkit-appearance: none; 
}

input [type="submit"] {
    appearance: none;
    -webkit-appearance: none;
    border: 0px none;
    outline: none;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none; 
}
  
button {
    border: none;
    box-shadow: none;
}

a {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover,
.btn:focus,
.btn:hover {
    color: inherit;
    outline: none;
    text-decoration: none;
    box-shadow: none;
    border: none;
}

button:focus {
    outline: none;
}

form {
    margin: 0;
}

::selection {
    background: rgb(10, 44, 235);
    background: var(--white);
}

::-webkit-selection {
    background: rgb(10, 44, 235);
    background: var(--white);
}

::-moz-selection {
    background: rgb(10, 44, 235);
    background: var(--white);
}

::-ms-selection {
    background: rgb(10, 44, 235);
    background: var(--white);
}

::-o-selection {
    background: rgb(10, 44, 235);
    background: var(--white);
}


/* 
.clr { clear:both;}
    clearfix { display:block; zoom:1; }
    cearfix:after { content:""; height:0px; clear:both; visibility:hidden;  
} 
*/

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}


/*** Placeholder Color ***/

.form-control::-webkit-input-placeholder {
    color: var(--light-gray);
}

.form-control:-moz-placeholder {
    color: var(--light-gray);
}

.form-control::-moz-placeholder {
    color: var(--light-gray);
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: var(--light-gray);
}

.form-control {
    border: none;
    outline: none;
    border-radius: none;
    color: var(--dark-gray);
}

.form-control:focus {
    color: var(--black);
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

input:-internal-autofill-selected {
    background-color: var(--white) !important;
}

body {
    -webkit-tap-highlight-color: rgba(10, 44, 235, 0.35);
    margin: 0;
    padding: 0;
    color: #252525; 
    min-width: 320px;
    background: #fff;
    font-size: 15px;
    font-family: "Roboto", Arial, sans-serif;    
    font-weight: 400;
    letter-spacing: 0.5px;
    position: relative;   
    overflow: hidden;
    height: 100vh;
} 

/*********/
#root{
    width:100%;
    max-width:1000px;
    margin:auto;
    height:100%;
    overflow: hidden;
}
.wrapper{
    height: 100vh;
    overflow: hidden;
}
.Certificate-Wrap{
    background: url(../images/bg-cirtificate.png) no-repeat;
    background-position: top;
    background-size: 100% 250px;
    padding:20px;
}
.Certificate{
    height: 100%;
    border: 2px solid #ffed00;
    padding:40px 20px;
    overflow: hidden;
    
    flex-flow: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Cert-Badge {
    width:200px;
    margin:0 auto;

}

.Cert-Badge span{
    display: block;
    width:100%;
}


.Cert-Heading {
    padding-bottom:15px;
    position: relative;
}

.Cert-Heading:after {
    content:"";
    width:60%;
    height:2px;
    background: #252525;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
}
.Cert-Heading h1 {
    font-size: 65px; 
    font-family: serif;
    text-align: center;
    text-transform:uppercase;
    letter-spacing: 2px;

}

.Cert-Heading h1 label{
    display: block;
    font-size: 35px;
    font-family: emoji;
    padding-top:10px

}

.Present-NameSec {
    text-align: center;

}

.Present-NameSec h3{
    font-size: 25px;
    padding-bottom: 30px;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
}

.Present-Name {
    font-size: 35px;
    font-style: italic; 
    font-family: serif;

}

/** Mobile Screen  **/

@media screen and (max-width: 767px) {
 
    .Certificate{
        padding:75px 20px;
    }

    .Cert-Badge{
        width:150px;
    }

    .Cert-Heading h1{
        font-size: 50px;
    }

    .Cert-Heading h1 label{
        font-size: 24px;
    }
    .Present-NameSec h3{
        font-size: 18px;
    }
    .Present-Name{
        font-size: 22px;
    }
}


@media screen and (max-width: 413px) {
    .Cert-Heading h1{
        font-size: 40px;
    }
    
}

@media screen and (max-width: 359px) {
    .Cert-Heading h1{
        font-size: 35px;
    }
    .Cert-Heading h1 label{
        font-size: 20px;
    }
    .Present-NameSec h3{
        font-size: 14px;
    }
}